node_modules/
.pnpm-store/
dist/
.next/
next-env.d.ts
out/
build/
coverage/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# turbo
.turbo/

# base de datos local de desarrollo
.devdb/
